/* @media (min-width: 100px) and (max-width: 991px) {
  .dropdown {
    right: 0px !important;
    position: relative;
    left: 200px !important;
  }
} */
.cusotmClass a {
  padding: 7px 15px;
  font-weight: 500;
  left: 0 !important;
}
.menu li {
  display: none;
}
.icon:hover .menu li {
  display: block !important;
}
