.appointment {
  background-image: url("../../../assets/images/appointment.png");
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  z-index: 1;
}
/* .appointment::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
} */
